Source: pykerberos
Section: python
Priority: optional
Maintainer: Guido Guenther <agx@sigxcpu.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, libkrb5-dev, python-all-dev, python-support (>= 0.3)
Standards-Version: 3.7.2
XS-Vcs-Git: http://honk.sigxcpu.org/git/debian-packages/pykerberos/

Package: python-kerberos
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Replaces: python2.4-kerberos (<= 0.0.svn55-1)
Conflicts: python2.4-kerberos (<= 0.0.svn55-1)
Provides: python2.4-kerberos
Description: A GSSAPI interface module for python
 This Python package is a high-level wrapper for Kerberos (GSSAPI) operations.
 The goal is to avoid having to build a module that wraps the entire
 Kerberos.framework, and instead offer a limited set of functions that do what
 is needed for client/server Kerberos authentication based on
 <http://www.ietf.org/rfc/rfc4559.txt>.
 .
 Much of the C-code here is adapted from Appache's mod_auth_kerb-5.0rc7.

